<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/style.css')}}"
    />
    <!-- <link rel="stylesheet" href="/static/styles/style.css" /> -->
  </head>
  <body>
    <nav>
      <p>歡迎光臨，請輸入帳號密碼</p>
    </nav>
    <main>
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}

      <p>{{ message }}</p>

      {% endfor %} {% endif %} {% endwith %}
      <p>登入系統</p>
      <form action="/signin" , method="post">
        <div class="account">
          <p>帳號</p>
          <input type="text" name="account" />
        </div>
        <div class="password">
          <p>密碼</p>
          <input type="password" name="password" />
        </div>
        <button>登入</button>
      </form>

      <hr />

      <p>計算正整數的平方</p>
      <div class="form">
        <div class="calculate">
          <p>正整數</p>
          <input type="number" name="number" id="input" required />
        </div>
        <button class="submit">計算</button>
      </div>
    </main>
  </body>
  <script src="{{url_for('static', filename='app.js')}}"></script>
</html>
